/* google font */

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.google-font {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* universal style */
* {
    margin: 0;
}

.display-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-links {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    gap: 2rem;
    color: rgb(66, 66, 71);
}

.container {
    width: 90%;
    margin: 5rem auto;
    border-radius: 0.5rem;
}

/* nav bar start here */
.logo {
    display: flex;
    align-items: center;
    width: 280px;
}

.logo img {
    width: 48px;
    height: 56px;
    margin-right: 0.5rem;
}

.travel-span {
    font-size: 36px;
    font-weight: 800;
}

.span {
    color: rgba(255, 84, 0)
}

/* banner */
p,
li {
    font-size: 18px;
    font-weight: normal;
    line-height: normal;
    text-align: center;
}

h2 {
    font-size: 36px;
    text-align: center;
    font-weight: 800;
    line-height: normal;
}

.explore-your-travel {
    background-image: linear-gradient(180deg,
            rgba(19, 19, 24, 0.8) 0%,
            rgba(19, 19, 24, 0) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    border-radius: 1rem;
    padding: 18rem 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore-container h2 {
    color: white;
    font-size: 4rem;
    font-weight: 800;
}

.explore-container p {
    color: rgb(209, 212, 214);
    font-size: 18px;
    line-height: 26px;
    width: 676px;
    padding: 1.5rem 0;
    margin: auto;
}

.travel-inputs {
    margin-top: 2rem;
    border-radius: 8px;
    background: rgba(255, 155, 255, 0.2);
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(4px);

}

input,
select {
    width: 175px;
    height: 50px;
    padding: 0 0.5rem;
    margin: 0 1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.btn-primary {
    width: 175px;
    height: 50px;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    align-items: center;
    gap: 8px;
    padding: 0.7rem 1.2rem;
    background-color: rgba(255, 84, 0);
    color: white;
    border: 1px solid rgba(255, 84, 0);
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;

}

/* popular section */
.popular-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    justify-content: space-between;
    padding-left: 14rem;
}

.text-content {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: space-between;
}

.text-content p,
li {
    text-align: left;
    font-size: 16px;
    line-height: 20px;
    word-spacing: 5px;
}

.text-content h2 {
    text-align: left;
    font-size: 40px;
    font-weight: 800;
}

/* our destination */
.Destination h2 {
    color: rgb(0, 0, 0);
    font-size: 40px;
    line-height: 26px;
    padding: 1.8rem 0;
    margin: 0 auto;
}

.Destination p {
    color: rgba(19, 19, 24, 0.7);
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    padding: 1.8rem 0;
}

.your-destination img {
    width: 100%;
    height: 300px;
    filter: brightness(70%);
}

.row-1,
.row-2,
.row-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem 0;
    gap: 1rem;
}

.row-2 {
    grid-template-columns: 0.8fr 1.5fr 0.7fr;

}

.row-3 {
    grid-template-columns: 0.75fr 1.25fr;

}

.country-card {
    position: relative;
}

.country {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 28px;
    font-weight: bold;
    transform: translate(-50%, -50%);
}


.My-Target-Web {
    border: 2px solid rgba(13, 19, 33, 0.02);
    margin-top: 90px;
    border-radius: 16px;
    margin-left: 340px;
    text-align: center;
}

.My-Target h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 26px;
}

.My-Target p {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    opacity: 0.7;
    margin: 20px 40px;
}

.My-Target-Frame {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 22px;
}

.My-Target-Card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 16px;
    background-color: rgba(255, 76, 30, 0.05);
}

.My-Target-Card1 {

    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 16px;
    background-color: rgba(0, 76, 232, 0.05);
}

.My-Target-Card1 img {
    width: 56px;
    height: 56px;
}

.My-Target-Card1 h2 {
    text-align: left;
    margin-top: 15px;
}

.My-Target-Card1 p {

    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin: 0;
    margin-top: 20px;
    opacity: 0.7;
    letter-spacing: 0%;
}

.My-Target-Card2 img {
    width: 56px;
    height: 56px;
}

.My-Target-Card2 h2 {
    text-align: left;
    margin-top: 15px;
}

.My-Target-Card2 p {
    line-height: 26px;
    text-align: left;
    margin: 0;
    margin-top: 20px;
    opacity: 0.7;
    letter-spacing: 0%;
}

.My-Target-Card2 {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 16px;
    background-color: rgba(255, 223, 0, 0.05);
}

.My-Target-Card img {
    width: 56px;
    height: 56px;
}

.My-Target-Card h2 {
    text-align: left;
    margin-top: 15px;
}

.My-Target-Card p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin: 0;
    margin-top: 20px;
    opacity: 0.7;
    letter-spacing: 0%;
}

/* footer section */
.footer-section {
    background: rgba(19, 19, 24, 0.05);
    padding: 2rem 0;
}

.footer-section,
.logo {
    margin: 2rem auto;

}

.social {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    cursor: pointer;
}

.social i {
    height: 44px;
    font-size: 24px;

}

.footer-section hr {
    margin: 2rem 0;
}